[submodule "projects/AirSense"]
	path = projects/AirSense
	url = https://github.com/diyruz/AirSense.git
[submodule "projects/freepad"]
	path = projects/freepad
	url = https://github.com/diyruz/freepad.git
[submodule "projects/geiger"]
	path = projects/geiger
	url = https://github.com/diyruz/geiger.git
[submodule "projects/flower"]
	path = projects/flower
	url = https://github.com/diyruz/flower.git
